@page "/CreateSeason"
@using System.Net.Http
@using System.Text.Json
@using System.Threading.Tasks
@inject HttpClient Http

<h1>Season</h1>
@* 
<!-- Register a Player -->
<div class="modal fade @((isDialogOpen ? "show" : ""))" id="registerPlayerDialog" style="display: @((isDialogOpen ? "block;" : "none;"))"  tabindex="-1" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center" style="border:none;">
        <h5 class="modal-title" id="exampleModalLabel">Register New Player</h5>
      </div>
      <div class="modal-body" >
        <form class="container" id="signUpForm">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <label for="newPlayerName">Start Date:</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="newPlayerName" name="newPlayerName"  @bind-value="" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <label for="newPlayerRating">Number of players: </label>
                </div>
                <div class="col-auto">
                    <input type="int" class="numberfield" id="newPlayerRating" name="newPlayerRating" @bind-value="" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <label for="newPlayerLosses">Record: </label>
                </div>
                <div class="col-auto"></div>
                    <input type="int" class="numberfield threeDigits" id="newPlayerWins"    name="newPlayerWins"    @bind-value=""/>
                </div>
                <div class="col-auto">
                    <input type="int" class="numberfield threeDigits" id="newPlayerLosses"  name="newPlayerLosses"  @bind-value="" />
                </div>
                <div class="col-auto">
                    <input type="int" class="numberfield threeDigits" id="newPlayerTies"    name="newPlayerTies"    @bind-value="" />
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center" style="border:none; margin: 0px;">
        <button type="submit" class="btn btn-primary" @onclick="">Create</button>
        <a href="/" asp-page="/Tournament" class="btn btn-primary">Create Tournament</a>
      </div>
    </div>
  </div>
</div> *@



@code {
    public Player[] players = Array.Empty<Player>();

    private bool isDialogOpen = true;
}
